body {
  background-color: rgb(26, 32, 44);
  font-weight: 500;
  color: white;
}

#wrapper {
  margin: 0.75rem auto;
  border-radius: 0.375rem;
  padding: 4rem 3rem;
  border: 1px solid rgb(203, 213, 224);
  max-width: 18rem;
  max-height: 180px;
}

#countTitle {
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease;
  opacity: 1;
}

#email {
  width: 87%;
  outline: none;
  position: relative;
  appearance: none;
  transition: all 0.2s ease;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid inherit;
  background: inherit;
  opacity: 1.5;
  cursor: not-allowed;
}

button {
  border-radius: 0.375rem;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 600;
  font-size: small;
  height: 30px;
  background: rgb(129, 230, 217);
  color: rgb(26, 32, 44);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(88, 188, 176);
}

#resetButton {
  font-size: small;
  height: 30px;
  width: 60px;
  border: 1px solid currentcolor;
  color: rgb(129, 230, 217);
  background: transparent;
  margin-left: 8px;
}

#countByValue {
  max-width: 25%;
  margin-top: 5px;
}
